SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<alchemy-api-key>
REACTIVE_RPC_URL=https://lasna-rpc.rnk.dev/

SEPOLIA_CHAIN_ID=11155111
REACTIVE_CHAIN_ID=5318007

DEPLOYER_PRIVATE_KEY=<private-key>
DEPLOYER_ADDRESS=0xE71BDed5d3492E9C8E872721783b3dc03e713843

SAFE_OWNER_PRIVATE_KEY=<private-key>
SAFE_OWNER_ADDRESS=0xE71BDed5d3492E9C8E872721783b3dc03e713843
SAFE_ADDRESS=0x6a8C0FE4aDaA46A74B1073cE1dA642d00F851B2B

COLD_WALLET_PRIVATE_KEY=<private-key>
COLD_WALLET_ADDRESS=0x301E4F2bA24b4C009BfDCc5F7F192f6A0f9C8e8d

ETHERSCAN_API_KEY=<etherscan-api-key>

SEPOLIA_CALLBACK_PROXY=0xc9f36411C9897e7F959D99ffca2a0Ba7ee0D7bDA
LASNA_CALLBACK_PROXY=0x0000000000000000000000000000000000fffFfF
REACTIVE_SYSTEM_CONTRACT=0x0000000000000000000000000000000000fffFfF

GUARDIAN_CONTROLLER_ADDRESS=
GUARDIAN_MODULE_ADDRESS=
GUARDIAN_LISTENER_ADDRESS=
MOCK_ERC20_ADDRESS=
MOCK_BAD_SPENDER_ADDRESS=
MOCK_RISK_EMITTER_ADDRESS=
