ETH_SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=
LASNA_RPC_URL=
ETH_SEPOLIA_CHAIN_ID=11155111
BASE_SEPOLIA_CHAIN_ID=84532
LASNA_CHAIN_ID=5318007

NULLA_REGISTRY_ADDRESS=
ETH_TOKEN_ADDRESS=
BASE_TOKEN_ADDRESS=
ETH_SERVICE_ADDRESS=
BASE_SERVICE_ADDRESS=
ETH_MODULE_ADDRESS=
BASE_MODULE_ADDRESS=
ETH_GUARD_ADDRESS=
BASE_GUARD_ADDRESS=
REACTIVE_LASNA_ADDRESS=
DEFAULT_BLACKLISTED_SPENDER=0x301E4F2bA24b4C009BfDCc5F7F192f6A0f9C8e8d

NEXT_PUBLIC_ETH_SEPOLIA_CHAIN_ID=11155111
NEXT_PUBLIC_BASE_SEPOLIA_CHAIN_ID=84532
NEXT_PUBLIC_LASNA_CHAIN_ID=5318007

NEXT_PUBLIC_ETH_SEPOLIA_RPC_URL=
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_LASNA_RPC_URL=

NEXT_PUBLIC_NULLA_REGISTRY_ADDRESS=
NEXT_PUBLIC_ETH_TOKEN_ADDRESS=
NEXT_PUBLIC_BASE_TOKEN_ADDRESS=
NEXT_PUBLIC_DEMO_SAFE_SHARED_ADDRESS=0x23BB5F9b7D50f2ecdE6305E6cdB71c1e7Ba698F0
NEXT_PUBLIC_DEMO_SAFE_OWNER_ADDRESS=0xbA64397d50D71fE0c38a86B51fc77BedB580C8A4
NEXT_PUBLIC_DEMO_PROFILE_ID=0xe5fd559fcb5fd437c4efdfabfe7138e5ef4a92912bf3c7c2d170292cf5e322c9
NEXT_PUBLIC_REACTIVE_LASNA_ADDRESS=
